doctype html
html
  head
    title FF_Mercurial's Blog
    link(rel='stylesheet' type='text/css' href='/public/commonCss/style.css')
    link(rel='stylesheet' type='text/css' href='/public/highlight/solarized_light.css')
    block head0
  body
    div#container
      div#header
        h1
          a(href='/') FF_Mercurial's Blog
      div#content.cf
        block content0
      div#footer by FF_Mercurial
    script(src='/public/highlight/highlight.pack.js')
    script hljs.initHighlightingOnLoad();
